@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
html{
    font-family: 'Noto Sans JP', sans-serif;;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 50px 10px;
    justify-content: space-around;
    align-items: center;
    background-color: #2b2928c5;
}

.btn-container{
    display: flex;
    flex-direction: column;
    padding:20px;
    align-items: center;
    border:1px solid #828282;
    border-radius: 20px;
    width: fit-content;
    background: azure;
    box-shadow: 0 0 5px azure;
}

.btn-container > p{
    font-size: 12px;
    color: #828282;
    opacity: 0;
    transition: .5s all ease-out;
}

.btn-container:hover > p{
    opacity: 1;
    transition: .5s all ease-in;
}

.btn{
    width: 120px;
    height: 40px;
    background: #E0E0E0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

.btn img{
    width: 20px;
    height: 20px;
    margin: 0;
}

.btn:hover, .btn:focus{
    background-color: #AEAEAE;
}

/* Buttons*/

.btn-2{
    background: none;
    color: #3D5AFE;
    border: 2px solid #3D5AFE;
}

.btn-2:hover, .btn-2:focus{
    background: rgba(41, 98, 255, 0.1);
}

.btn-3{
    background: none;
    color: #3D5AFE;
}

.btn-3:hover, .btn-3:focus{
    background: rgba(41, 98, 255, 0.1);
}

.btn-4{
    background-color: #3D5AFE;
    color: #E0E0E0;
}

.btn-4:hover, .btn-4:focus{
    background: #3D5AFE;
}

.btn-5{
    background-color:#E0E0E0;
    color:#AEAEAE;
}

.btn-5:hover, .btn-5:focus{
    background: none;
}

.btn-6{
    background-color:#3D5AFE;
    color:#E0E0E0;
}

.btn-6:hover, .btn-6:focus{
    background: #3D5AFE;
}

.btn-7, .btn-7-1, .btn-7-2{
    background-color:#3D5AFE;
    color:#E0E0E0;
}

.btn-7-1{
    width: 140px;
    height: 50px;
}

.btn-7-2{
    width: 160px;
    height: 60px;
}

.btn-7:hover, .btn-7:focus {
    background: #3D5AFE;
}

.btn-7-1:hover, .btn-7-1:focus {
    background: #3D5AFE;
}

.btn-7-2:hover, .btn-7-2:focus {
    background: #3D5AFE;
}